{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block auth_content %}
<div class="auth-header">
	<h2 class="auth-title">Sign Out</h2>
	<p class="auth-subtitle">Are you sure you want to log out?</p>
</div>

<form method="post" action="{% url 'account_logout' %}">
	{% csrf_token %}
	
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	{% endif %}
	
	<button type="submit" class="btn-auth-submit">{% trans 'Sign Out' %}</button>
	<a href="/" class="btn-auth-outline m-t-10 text-center">{% trans 'Cancel' %}</a>
</form>
{% endblock %}
