{% load static %}
  <title>{% block head_title %}{% if site_config.meta_title %}{{ site_config.meta_title }}{% else %}Home{% endif %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block head_description %}
  {% if site_config.meta_description %}
  <meta name="description" content="{{ site_config.meta_description }}" />
  {% endif %}
  {% endblock %}
  {% block head_keywords %}
  <meta name="keywords" content="ecommerce, online shopping, bangladesh, best products, shop" />
  {% endblock %}
  <link rel="canonical" href="{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}" />

  <!-- Open Graph Meta Tags for Social SEO -->
  <meta property="og:site_name" content="{{ site_config.site_name|default:'Django E-commerce' }}" />
  <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}" />
  <meta property="og:title" content="{% block og_title %}{% if site_config.meta_title %}{{ site_config.meta_title }}{% else %}Django E-commerce{% endif %}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{{ site_config.meta_description|default:'' }}{% endblock %}" />
  <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}{% if site_config.site_logo %}{{ request.scheme }}://{{ request.get_host }}{{ site_config.site_logo.url }}{% endif %}{% endblock %}" />
  <!--===============================================================================================-->
  <link
    rel="icon"
    type="image/png"
    href="{% if site_config.site_favicon %}{{ site_config.site_favicon.url }}{% else %}{% static 'images/icons/favicon.png' %}{% endif %}"
  />

  <!--===============================================================================================-->

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'fonts/themify/themify-icons.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'fonts/elegant-font/html-css/style.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/animate/animate.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/animsition/css/animsition.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/select2/select2.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/slick/slick.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}"
  />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <!--===============================================================================================-->
  <!-- AlpineJS for Filter and Interactive Features -->
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

  {% if site_config.google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site_config.google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site_config.google_analytics_id }}');
  </script>
  {% endif %}


